@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
body {
    margin: 0;
    background-color: #f6f6f6 !important;
    font-family: 'Poppins' !important;
    scrollbar-width: thin;
}
$image-sm: 18em;
$image-md: 20em;
$img-l: 23em;
$font-l: 3.5rem;


::-webkit-scrollbar {
    width: 1px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #303030; 
  }



nav {
    animation: NavtransitionIn 0.75s;
    .navbar-brand {
        cursor: pointer;
    }
    .nav-icon {
        color: white !important;
    }
}
@keyframes NavtransitionIn {
    from {
        opacity: 0;
        transform: translateY(-40px);
        transition: all 1s ease;
    }
    to {
        opacity: 1;
        transform: translateX(0);

    }
}
@keyframes MaintransitionIn {
    from {
        opacity: 0;
        transform: translateY(40px);
        transition: all 1s ease;
    }
    to {
        opacity: 1;
        transform: translateX(0);

    }
}
main {
    animation: MaintransitionIn 0.75s;
    h1 {
        font-size: 2rem;
        font-weight: 700;
    }
        
        .fa,.fa-brands {
            padding: 10px;
            font-size: 15px; //20 
            width: 38px; //43
            text-align: center;
            text-decoration: none;
            margin: 5px 0px 0px 15px;
            border-radius: 50%;
            border: 2px solid #303030;
            color: #303030;
            &:hover {
                background: #303030;
                color: white;
            }
        }
       
    
    .about {
        margin: 15em 0;
        p {
            text-align: justify;
        }
        .fa {
            margin: 5px 10px 0px 0px;
            border: none;
            width: 35px; //43
            background: #303030;
            color: white;
        }
    }
    .tech-stack {
        .t-card {
            display: flex;
            text-align: center;
            margin-right: 15px;
            border-radius: 10px;
            background: white;
            padding: 15px;
            
            align-items: center !important;
            box-shadow: 0 0 5px rgba(128, 128, 128, 0.377);
            img {
                width: 3em;
                
            }
        }
        .t-card:first-child {
            margin-left: 15px;
        }
        .t-card:last-child {
            margin-right: 0px;
        }
    }
    .certificate {
        .c-card {
            border-radius: 10px;
            box-shadow: 0 0 5px rgba(128, 128, 128, 0.595);
        }
    }
}
.meicon {
    width: $image-sm;
}
#resume {
    .personal-info {
        li {
            list-style-type: none;
        }
        span {
            font-weight: bold;
        }
    }
}

#projects {
    .card {
        
        box-shadow: 0 0 5px rgba(128, 128, 128, 0.595);
      
        &:hover {
            .overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            display: block;
            background: #4a448c;
            border-radius: 5px !important;
            transition:  0.5s ease;
            z-index: 1;
           
            }
        }
        
        .card-img-overlay {
            opacity: 0;
            
            &:hover {
                border-radius: 10px !important;
                opacity: 1;
                z-index: 2;
                transition:  0.5s ease;
            }
        }

    }

}
footer {
    background-color: #303030;
    left: 0;
    width: 100%;
    bottom: 0;
    .container {
        justify-content: space-between;
        a {
            font-size: 1em;
            color: white;
        }
        .social {
            
            .fa,.fa-brands {
                padding: 10px;
                font-size: 13.5px; //20 
                width: 38px; //43
                text-align: center;
                text-decoration: none;
                border-radius: 50%;
                border: 2px solid #303030;
                color: #303030;
                background: white;
                &:hover {
                    background: #303030;
                    color: white;
                }
            }
        }
    }
    
}
@media (min-width: 768px) {
    main {
        margin-top: 5em;
        .meicon {
            width: $image-md;
        }
        .about {
            margin: 15em 0;
        }
        .tech-stack {
            margin: 0;
            .t-card:first-child {
                margin-left: 0;
            }
        }
    }
    footer {
        .container {
            a {
                margin-left: 12px;
            }
            .social {
                
                .fa-brands:last-child {
                margin-right: 23px;
                }
            }
        }
        
    }
}

@media (min-width: 992px) {
    main {
        .meicon {
            width: $img-l;
        }
        h1 {
            font-size: $font-l;
        }
        .about {
            margin-top: 10em;
        }

        .icons {
            .fa,.fa-brands {
                font-size: 20px; //20 
                width: 43px; //43
          
            }
        }
    }
}

@media (min-width: 1200px) { 
    main {
        .about {
            margin-top: 12em;
        }
    }
 }